.site-skin-metadata {
  content: "==================================================

  - Skin:         neos/theme_charcoal-rose
  - Author:       ZerafinaCSS [https://tumblr.com/zerafinacss]
  - Instructions: https://ao3.org/works/65849527
  - Repository:   https://github.com/ZerafinaCSS/neos
  - License:      MIT
  - Updated:      2026-Mar-14 18:47 UTC

  ==========================================================";
}

:root {
  color-scheme: dark;
  --margins-header: 1rem;
  --margins-main: 5%;
  --margins-narrow: 2.5%;
  --radius-small: 4px;
  --radius-mid: 6px;
  --radius-big: 8px;
  --radius-btn: 14px;
  --radius-tag: 8px;
  --icon-content-radius: 6px;
  --icon-primary-radius: 8px;
  --icon-index-radius: 8px;
  --bg1: #1D1D1D;
  --bg2: #2B2B2B;
  --bg3: transparent;
  --bg4: #2B2B2B;
  --bg5: #2B2B2B;
  --bg6: #2B2B2B;
  --bg7: #323232;
  --bg8: #F59DB3;
  --border1: #434343;
  --border2: #434343;
  --border3: #434343;
  --border4: #6F6567;
  --border-width: 1px;
  --shadow: none;
  --shadow-header: none;
  --shadow-buttons: none;
  --txt-size-main: 100%;
  --txt-size-work: 110%;
  --txt-header: #F59DB3;
  --txt-header-hgl: #FDEDF1;
  --txt-header-hgl-h1: linear-gradient(135deg, #FDEDF1, #FFB3D8, #AB6F7D);
  --txt-main: #D3C5C8;
  --txt-alt1: #D3C5C8;
  --txt-alt2: #111111;
  --link: #F59DB3;
  --link-hgl: #FFB3D8;
  --link-visited: #89767A;
  --link-underline: 1px solid transparent;
  --int-btn-bg: #2B2B2B;
  --int-btn-border: #AB6F7D8C;
  --int-btn-txt: #F59DB3;
  --int-btn-hgl-bg: linear-gradient(135deg, #D3C5C8, #FFB3D8, #F59DB3);
  --int-btn-hgl-txt: #111111;
  --int-bg: #11111159;
  --int-current-bg: #323232;
  --int-current-txt: #EFEAEB;
  --int-disabled-bg: #2B2B2B;
  --int-checked: #F59DB3;
  --int-hgl: #FFB3D8;
  --int-hgl-bg: linear-gradient(135deg, #D3C5C8, #FFB3D8, #F59DB3);
  --int-hgl-txt: #111111;
  --icon1: #FFABDF;
  --icon2: #F59DB3;
  --icon3: #F59DB3;
  --icon4: #D96AA9;
  --icon5: #D96AA9;
  --icon6: #C93B6A;
  --icon7: #AB6F7D;
  --icon8: #89767A;
  --icon9: #D96AA9;
  --icon-grd: linear-gradient(135deg, transparent, #1D1D1D75);
  --icon-bg: linear-gradient(135deg, #323232, #545454);
  --icon-id: linear-gradient(135deg, #FFABDF, #434343);
  --icon-anon: linear-gradient(135deg, #6F6567, #323232);
  --icon-coll: linear-gradient(135deg, #F59DB3, #434343);
  --icon-border1: none;
  --icon-border2: none;
  --tag-default-bg: linear-gradient(135deg, #FFABDF0D, #00000026);
  --tag-fandom-bg: linear-gradient(135deg, #FFABDF0D, #00000026);
  --tag-warning-bg: #C93B6A linear-gradient(135deg, #D3C5C84D, #1D1D1D33);
  --tag-ship-bg: #D96AA9 linear-gradient(135deg, #D3C5C84D, #1D1D1D4D);
  --tag-platonic-bg: #D96AA9 linear-gradient(135deg, #D3C5C84D, #1D1D1D4D);
  --tag-character-bg: linear-gradient(135deg, #FFABDF0D, #00000026);
  --tag-freeform-bg: linear-gradient(135deg, #FFABDF0D, #00000026);
  --tag-default-txt: #D3C5C8;
  --tag-fandom-txt: #D3C5C8;
  --tag-warning-txt: #111111;
  --tag-ship-txt: #111111;
  --tag-platonic-txt: #111111;
  --tag-character-txt: #E077AC;
  --tag-freeform-txt: #FFB3D8;
  --tag-border: #AB6F7D59;
  --tag-hgl-bg: linear-gradient(135deg, #D3C5C8, #FFB3D8, #F59DB3);
  --tag-hgl-txt: #111111;
  --notice-bg: #24051A;
  --success-bg: #171221;
  --caution-bg: #1C1813;
  --alert-bg: #24050D;
  --notice-txt: #BB589D;
  --success-txt: #8F6CCB;
  --caution-txt: #BF9867;
  --alert-txt: #E6436E;
  --header-icon: brightness(0) saturate(100%) invert(70%) sepia(24%) saturate(723%) hue-rotate(299deg) brightness(99%) contrast(94%);
  --header-icon-hgl: brightness(0) saturate(100%) invert(90%) sepia(9%) saturate(185%) hue-rotate(295deg) brightness(101%) contrast(104%);
  --kudos-icon: brightness(0) saturate(100%) invert(52%) sepia(26%) saturate(736%) hue-rotate(287deg) brightness(102%) contrast(93%);
  --lock-icon: brightness(0) saturate(100%) invert(87%) sepia(12%) saturate(152%) hue-rotate(297deg) brightness(90%) contrast(95%);
  --stats-icon: brightness(0) saturate(100%) invert(74%) sepia(8%) saturate(1115%) hue-rotate(296deg) brightness(108%) contrast(79%) opacity(75%);
  --stat-chart: invert(100%) hue-rotate(150deg) brightness(85%) contrast(77%);
  --rich-txt-editor: invert(95%) saturate(0);
}

img[src$="/images/skins/iconsets/default/icon_user.png"] {
  content: url("https://zerafinacss.github.io/ao3/icons/user-visitor-02.png");
}
